<div class="p-4 flex flex-col items-center justify-center">
    <h1 class="text-2xl font-bold text-center mb-4">QR Code Generator</h1>
    <div class="flex flex-row gap-10">
        <div class="space-y-2 mt-3 flex flex-col w-fit">
            {{!-- URL Input --}}
            <div class="space-y-2">
                <label for="text-input" class="block font-semibold">Enter URL:</label>
                <textarea
                id="text-input"
                placeholder="https://www.zoho.com/backstage/"
                name="textInput"
                class="w-full p-2 border rounded-xl shadow-lg"
                {{on "input" this.handleInputChange}}
                ></textarea>
            </div>

            {{!-- Logo Upload --}}
            <div class="space-y-2 mt-3">
                <label for="image-input" class="block font-semibold">Upload Logo:</label>
                <input
                type="file"
                id="image-input"
                class="w-full p-2 border rounded-xl shadow-lg"
                {{on "change" this.handleImageUpload}}
                />
            </div>
            <div class="flex items-center gap-4">
                <div>
                        {{!-- Dot Color --}}
                    <div class="space-y-2 mt-3 flex flex-col">
                        <label for="favcolor" class="block font-semibold">Select Dot color:</label>
                        <input type="color" id="favcolor" value={{this.dotcolor}} {{on "change" this.handleColorChange}}>
                    </div>

                    {{!-- BG Color --}}
                    <div class="space-y-2 mt-3 flex flex-col">
                        <label for="favcolor" class="block font-semibold">Select Background color:</label>
                        <input type="color" id="bgcolor" value={{this.bgcolor}} {{on "change" this.handleBackgroundColorChange}}>
                    </div>
                </div>

                <div>
                    {{!-- Gradient Type --}}
                    <div class="space-y-2 mt-3 flex flex-col">
                        <label for="gradient-toggle" class="block font-semibold">Select Gradient Type:</label>
                        <div class="flex items-center">
                        <label class="inline-flex items-center cursor-pointer">
                            <span class="mr-3 text-sm font-medium">Linear</span>
                        <input type="checkbox" value="" class="sr-only peer" {{on "change" this.handleGradientToggle}} checked={{eq this.gradient_type 'radial'}}>
                        <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-green-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                        <span class="ms-3 text-sm font-medium">Radial</span>
                        </label>
                        </div>
                    </div>

                    {{!-- Gradient Color --}}
                    <div class="space-y-2 mt-3 flex flex-col">
                        <label for="favcolor" class="block font-semibold">Select your Gradient Color:</label>
                        <div class="flex flex-row gap-3">
                            <input type="color" id="colorzero" value={{this.colorStops0}} {{on "change" this.handleGradientZero}}>
                            <input type="color" id="colorone" value={{this.colorStops1}} {{on "change" this.handleGradientOne}}>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="flex flex-row gap-5"> 
            {{!-- Dot Menu --}}
                <div class="space-y-2 mt-3 flex flex-col">
                    <label class="block font-semibold">Dots</label>
                    <DotMenu 
                        @values={{this.values.DotMenu}}
                        @selected={{this.type}}
                        @selectFunction={{this.handleDotType}}
                    />
                </div>
                <div class="space-y-2 mt-3 flex flex-col">
                    <label class="block font-semibold">Corner Squares</label>
                    <DotMenu 
                        @values={{this.values.CornerSquare}}
                        @selected={{this.cornerSquare}}
                        @selectFunction={{this.hanldeCornerSquareChange}}
                    />
                </div>
                
                <div class="space-y-2 mt-3 flex flex-col">
                    <label class="block font-semibold">Corner Dot</label>
                    <DotMenu 
                        @values={{this.values.CornerDot}}
                        @selected={{this.cornerDot}}
                        @selectFunction={{this.handleCornerDotChange}}
                    />
                </div>
            </div>
            <div class="space-y-2 mt-3 flex flex-col w-fit">
                <label for="quantity" class="block font-semibold">Gradient Rotation:</label>
                <input type="number" id="quantity" name="quantity" class="shadow-lg rounded-xl w-full p-2 border" placeholder={{this.rotation}} {{on "input" this.handleRotationChange}} min="1" max="180"> 
            </div>
              
            {{!-- QR Templates --}}
            <div class="flex gap-3 mt-4 max-lg:flex-col">
                {{#each this.styleList as |style|}}
                    <button
                        type="button"
                        class="w-34 h-34 text-black flex justify-center items-center font-semibold rounded-xl overflow-hidden shadow-lg {{if (eq this.selectedStyle style.name) 'border border-black rounded-xl'}}"
                        {{on "click" (fn this.applyStyle style.name)}}
                    >
                        <QrPreview
                            @data={{this.data}}
                            @image={{this.image}}
                            @dotcolor={{get (get this.styles style.name) "dotcolor"}}
                            @type={{get (get this.styles style.name) "type"}}
                            @bgcolor={{get (get this.styles style.name) "bgcolor"}}
                            @cornerSquare={{get (get this.styles style.name) "cornerSquare"}}
                            @cornerDot={{get (get this.styles style.name) "cornerDot"}}
                            @colorStops0={{get (get this.styles style.name) "colorStops0"}}
                            @colorStops1={{get (get this.styles style.name) "colorStops1"}}
                            @image_type={{"canvas"}}
                            @height={{140}}
                            @width={{140}}
                        />
                    </button>
                {{/each}}
            </div>
        </div>
        <div class="space-y-2 max-lg:hidden">
            <label class="block font-semibold">QR Code:</label>
                <QrCodeGenerator
                    @data={{this.data}} 
                    @image={{this.image}}
                    @dotcolor={{this.dotcolor}} 
                    @type={{this.type}} 
                    @bgcolor={{this.bgcolor}} 
                    @cornerSquare={{this.cornerSquare}} 
                    @cornerDot={{this.cornerDot}} 
                    @colorStops0={{this.colorStops0}} 
                    @colorStops1={{this.colorStops1}}
                    @height={{500}}
                    @width={{500}}
                    @gradient_type={{this.gradient_type}}
                    @rotation={{this.rotation}}
                />
        </div>
    </div>
</div>
